<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/common.css">
    <link rel="stylesheet" href="/dist/<%-viewName%>.css">
</head>
<body>
<header class="header" >
    <div class="logo">
        Blog
    </div>
    <nav class="nav">
        <% if(active==='/'){%>
            <a class="active" href="/index">主页</a>
        <%}else{%>
            <a href="/index">主页</a>
        <%}%>

        <% if(active==='/about'){%>
            <a class="active" href="/about">关于</a>
        <%}else{%>
            <a href="/about">关于</a>
        <%}%>

        <% if(active==='/list'){%>
            <a class="active" href="/list">列表</a>
        <%}else{%>
            <a href="/list">列表</a>
        <%}%>

    </nav>
    <img class="avatar" src="./img/th.jpg" alt="头像">
    <% if(hasUser){%>
    <a class="active" href="/manage">管理博客</a>
    <%}%>
</header>
<script>

</script>